@page "/addUser"
@using SmartWorkout.DataAccess
@using SmartWorkout.DataAccess.Entities
@using SmartWorkout.DataAccess.Repositories
@rendermode InteractiveServer
@inject IGenericRepo<User> userRepo

<div class="add-user-container">
    <div class="form-container">
        <div class="decorative-img">
            <img class="image" src="./workout.png" />
        </div>
        <div class="form">
            <EditForm Model="Model" OnSubmit="FormSubmitted" FormName="AddUser">
                <div class="title">Add a user</div>
                @if (Submitted)
                {
                    <div class="subtitle">
                        <label> Sucessfully inserted client</label>
                        <label> @(Model?.Surname ?? "No data")</label>
                        <label> @Model?.Name</label>
                    </div>
                }
                else
                {
                    <label class="subtitle"> Enter your values</label>

                }
    
                <div class="input-container ic1">
                    <label class="input-label" for="Surname">Surname</label>
                    <InputText id="Surname" @bind-Value="Model.Surname" class="input" placeholder=" "></InputText>

                </div>
                <div class="input-container ic2">
                    <label class="input-label">Name</label>
                        <InputText id="Name" @bind-Value="Model.Name"></InputText>
                </div>

                <div class="input-container ic2">
                    <label class="input-label">Email</label>
                    <InputText id="Email" @bind-Value="Model.Email"></InputText>
                </div>
    
                <div class="input-container ic2">
                    <label class="input-label">Phone</label>
                    <InputText id="Phone" @bind-Value="Model.Phone"></InputText>
                </div>
    
                <div class="input-container ic2">
                    <label class="input-label">Weight</label>
                    <InputNumber id="Weight" @bind-Value="Model.Weight"></InputNumber>
                </div>
    
                <div class="input-container ic2">
                    <label class="input-label">Age</label>
                    <InputNumber id="Age" @bind-Value="Model.Age"></InputNumber>
                </div>

                <div class="input-container ic2">
                    <label class ="input-label">Select gender</label>
                    <InputSelect @bind-Value="Model.GenderId">
                        <option value="">
                            Select your gender ...
                        </option>
                        <option value=1>
                            Female
                        </option>
                        <option value=2>
                            Male
                        </option>
                        <option value=3>
                            Other
                        </option>
                    </InputSelect>
                </div>
    
            <input type="submit" value="Submit" class="submit" />
        </EditForm>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    protected User? Model { get; set; }
    public bool Submitted = false;

    protected override void OnInitialized() => Model ??= new User() { Surname = "", Name = "" };

    private async Task FormSubmitted()
    {
        await userRepo.InsertAsync(Model);
        Submitted = true;

    }
}
