@page "/exercises"
@using SmartWorkout.DataAccess
@using SmartWorkout.DataAccess.Entities
@using SmartWorkout.DataAccess.Repositories
@using Syncfusion.Blazor
@inject IGenericRepo<Exercise> repo


@attribute [StreamRendering]
<head>
    <link rel="stylesheet" href="./app.css" />

</head>
<PageTitle>Exercises</PageTitle>

<h1 class="mt-4">Exercises</h1>




<p class="mb-4">This is a list of all the exercises</p>

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-borderless w-50">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in exercises)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Name</td>
                    <td>@u.Type.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {


    private Exercise[]? exercises;

    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(500); 

        ICollection<Exercise> col = await repo.GetAllAsync();
        exercises = col.ToArray();

    }
    

}
