.add-user-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    color: white;
}

.form-container {
    background-color: #c1e5f1;
    width: 800px;
    height: 800px;
    display: flex;
    border-radius: 30px;
}

.decorative-img {
    height: 800px;
    width: 600px;
}

.image {
    position: absolute;
    bottom: 150px;
    left: 27%;
    padding-left: 10%;
    padding-top: 50%;
    width: 30%;
}

.form {
    background-color: #25405b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 800px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    align-self: center;
    padding-bottom: 40px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-left: 30px;
    padding-right:30px;
}

.ic1 {
    margin-top: 40px;
    margin-bottom: 100px; 
}

.ic2 {
    margin-top: 30px;
}

.input-label {
    color: white;
    width: 300px;
    padding-bottom:10px;
}

.input valid {
    border-radius: 15px;
}

.input {
    background-color: #303245;
    border-radius: 30px !important;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.submit {
    align-self:center;
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 50%;
}

    .submit:active {
        background-color: #06b;
    }
